<figure id="container-images-project">
	{{#each images}}
    	<img src="{{ this }}" alt="{{ ../title }} - img {{ index }}" />
	{{/each}}
</figure>
<div id="container-desc-project" class={{ category }}>
	{{!-- class is goutte or rond --}}
    <h4>{{ title }}</h4>
    <p>{{ description }}</p>
</div>